
<div class="slide">
    <div class="slide-swp swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide swiper-slide1">
                <img src="img/slide1.jpg" alt="">
            </div>
            <div class="swiper-slide swiper-slide2">
                <img src="img/slide2.jpg" alt="">
            </div>
            <div class="swiper-slide swiper-slide3">
                <img src="img/slide3.jpg" alt="">
            </div>
            <div class="swiper-slide swiper-slide3">
                <img src="img/slide4.jpg" alt="">
            </div>
            <div class="swiper-slide swiper-slide3">
                <img src="img/slide5.png" alt="">
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>